
<h2>Sepetiniz</h2>
<div class="table table-striped mx-auto">
    <thead>
        <tr>
            <th>#</th>
            <th>Ürün Adı</th>
            <th>Adet</th>
            <th>Tutar</th>
            <th>İşlemler</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>d</td>
            <td>d</td>
            <td>d</td>
            <td>d</td>
            <td>d</td>
        </tr>
        <tr>
            <td>d</td>
            <td>d</td>
            <td>d</td>
            <td>d</td>
            <td>d</td>
        </tr>
        <tr>
            <td>d</td>
            <td>d</td>
            <td>d</td>
            <td>d</td>
            <td>d</td>
        </tr>
        <tr>
            <td>d</td>
            <td>d</td>
            <td>d</td>
            <td>d</td>
            <td>d</td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2">
                <u>
                    Toplam: 1500
                </u>
            </td>
        </tr>
    </tfoot>
</div>
<button class="btn btn-success">Ödemeye Geç</button>