<!-- <div class="container mt-5">

  <form (ngSubmit)="submit(form)" #form="ngForm">
    <div class='form-group mb-3 w-50 mx-auto'>
      <input type='email' #email="ngModel" class='form-control' ngModel name="email" placeholder='email giriniz' email
        required />
      <p *ngIf="email.touched && email.invalid" class="mt-1 text-danger">Lorem, ipsum dolor.</p>
    </div>

    <div class='form-group mb-3 w-50 mx-auto'>
      <input #password="ngModel" type='password' class='form-control' ngModel name="password" placeholder='paswword'
        text required />
      <p *ngIf="password.touched && password.invalid" class="mt-1 text-danger">Lorem, ipsum dolor.</p>
    </div>

    <div class='form-group mb-3 w-50 mx-auto'>
      <input type='checkbox' class='form-check-input' checkbox ngModel name="checkbox" />
    </div>

    <div class="row text-center mt-4">
      <div class="col-md-12">
        <button type="submit" class='btn btn-success' [disabled]="!form.valid">submit</button>
      </div>
    </div>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">email</th>
        <th scope="col">password</th>
        <th scope="col">check</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{user?.email}}</td>
        <td>{{user?.password}}</td>
        <td>{{user.checkbox}}</td>
      </tr>
    </tbody>
  </table>
</div> -->

<app-form1></app-form1>

